body {
  margin-left: 0;
  margin-right: 0;
}

.contenedor-ejes {
  width: 314px;
  position: relative;
  color: #e57373;
  pointer-events: auto;
  margin-left: calc(  (100% / 2) - 150px + 130px);
}

@media only screen and (max-width: 992px) {
  .contenedor-ejes {
    width: 314px;
    position: relative;
    color: #e57373;
    pointer-events: auto;
    margin: 0 auto;
  }
}

.capa-x {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.eje-x {
  /*padding-top:2em;*/
  width: calc(50% + 7px);
  height: 4em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(50% - 7px);
  pointer-events: none;
}

.eje-x-caption {
  width: calc(50% - 7px);
  height: 1.5em;
  text-align: right;
  box-shadow: 0 1px salmon, 0 -1px salmon inset;
  margin-left: 50%;
  pointer-events: none;
}

.item-x {
  width: 1em;
  height: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.x {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}

.marca-x {
  width: 2px;
  height: .5em;
  background: salmon;
  margin: 0 auto;
  pointer-events: none;
}

.capa-linea-x {
  width: 100%;
  height: 100%;
  /*Agregada*/
  position: absolute;
  /**/
  display: none;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.contenedor-linea-x {
  height: 3em;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-star;
      -ms-flex-pack: flex-star;
          justify-content: flex-star;
  pointer-events: none;
}

.Lienzo {
  display: block;
  width: 300px;
  height: 300px;
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
}
